.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
    .header-block-quantity {
      padding-left: 5%;
      width: 23%;
    }
  }

  .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
  button {
    margin-left: auto;
    margin-top: 50px;
  }
  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;
  }
}

@media screen and (max-width: 600px) {
  .checkout-page {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 0;

    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-evenly;
      gap: 4px;
      border-bottom: 1px solid darkgrey;

      .header-block {
        text-transform: capitalize;
        width: 100%;
        box-sizing: border-box;

        &:last-child {
          width: 12%;

        }
      }
    }

    .total {
      margin-top: unset;
      margin-left: auto;
      font-size: 36px;
      display: flex;
      flex-direction: column;
    }
    button {
      margin-top: 20px;
    }
    .test-warning {
      text-align: center;
      margin-top: 20px;
      font-size: 20px;
      color: red;
    }
    .stripe-checkout {
      display: block;
      margin: 0 auto;
    }
  }

}